.signinwith-container {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: stretch;
	padding:10px 0px;
	.signinwith-button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 10px 24px;
		border: 1px solid #dadce0;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		align-self: stretch;
		box-sizing: border-box;
		transition: opacity 0.3s ease;
		color: #3c4043;
		background-color: #ffffff;
	
		& svg {
			width:auto;
			height:20px;
			margin-right: 4px;
		}
	
		&:hover {
			background-color: #f8f9fa;
			opacity:0.9;
		}
	
		&.signinwith-button-facebook {
			background-color: #0866ff;
			color: white;
			border-color: #0866ff;
	
			&:hover {
				background-color: #0866ff;
			}
		}

		&.signinwith-button-discord {
			background-color: #5d67f7;
			color: white;
			border-color: #5d67f7;
	
			&:hover {
				background-color: #5d67f7;
			}
		}
	
		&.signinwith-button-apple {
			background-color: #000000;
			color: white;
			border-color: #000000;

			&:hover {
				background-color: #333333;
			}
		}

		&.signinwith-button-github {
			background-color: #24292f;
			color: white;
			border-color: #24292f;

			&:hover {
				background-color: #1b1f23;
			}
		}
	}
}
